<a href="https://colab.research.google.com/github/AtharKharal/Tensorflow-ML-using-Python/blob/master/Machine_Learning_Play.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [2]:
!ls "/content/drive/My Drive/Colab Notebooks"

'Machine Learning Play.ipynb'   my1.ipynb   my_tf_playfield.ipynb   Titanic.csv

In [0]:
import pandas as pd
titanic=pd.read_csv('/content/drive/My Drive/Colab Notebooks/Titanic.csv')

In [5]:
titanic.head(10)

   Unnamed: 0 Class     Sex    Age Survived  Freq
0           1   1st    Male  Child       No     0
1           2   2nd    Male  Child       No     0
2           3   3rd    Male  Child       No    35
3           4  Crew    Male  Child       No     0
4           5   1st  Female  Child       No     0
5           6   2nd  Female  Child       No     0
6           7   3rd  Female  Child       No    17
7           8  Crew  Female  Child       No     0
8           9   1st    Male  Adult       No   118
9          10   2nd    Male  Adult       No   154

In [0]:
import tensorflow as tf
tf.tes