<a href="https://colab.research.google.com/github/AtharKharal/Tensorflow_Python_GPUsTPUs/blob/master/Playing_with_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd

iris= datasets.load_iris()

In [8]:
print(iris.data[-140:-148])

[]

In [0]:
data = {'Year': [2000, 2005, 2010, 2014],
       'Median_Age': [24.2, 26.4, 28.5, 30.3],
       'Density': [244, 256, 268, 279]}
df1=pd.DataFrame(data)

In [19]:
df1.Year

0    2000
1    2005
2    2010
3    2014
Name: Year, dtype: int64

In [23]:
df1.head(2)

   Density  Median_Age  Year
0      244        24.2  2000
1      256        26.4  2005

In [24]:
df1.columns

Index(['Density', 'Median_Age', 'Year'], dtype='object')