<a href="https://colab.research.google.com/github/AtharKharal/Tensorflow_Python_GPUsTPUs/blob/master/Playing_with_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
from sklearn import datasets
iris= datasets.load_iris()

In [4]:
print(iris.data[1:5])

[[4.9 3.  1.4 0.2]
 [4.7 3.2 1.3 0.2]
 [4.6 3.1 1.5 0.2]
 [5.  3.6 1.4 0.2]]

In [0]:
data = {'Year': [2000, 2005, 2010, 2014],
       'Median_Age': [24.2, 26.4, 28.5, 30.3],
       'Density': [244, 256, 268, 279]}
df1=pd.DataFrame(data)

In [6]:
df1.Year

0    2000
1    2005
2    2010
3    2014
Name: Year, dtype: int64

In [7]:
df1.head()

   Density  Median_Age  Year
0      244        24.2  2000
1      256        26.4  2005
2      268        28.5  2010
3      279        30.3  2014

In [8]:
df1.columns

Index(['Density', 'Median_Age', 'Year'], dtype='object')

In [9]:
%who

data	 datasets	 df1	 index	 iris	 pd	 populations

In [10]:
print(dir())

['In', 'Out', '_', '_6', '_7', '_8', '__', '___', '__builtin__', '__builtins__', '__doc__', '__loader__', '__name__', '__package__', '__spec__', '_dh', '_i', '_i1', '_i10', '_i2', '_i3', '_i4', '_i5', '_i6', '_i7', '_i8', '_i9', '_ih', '_ii', '_iii', '_oh', '_sh', 'data', 'datasets', 'df1', 'exit', 'get_ipython', 'index', 'iris', 'pd', 'populations', 'quit']

In [11]:
whos

Variable      Type         Data/Info
------------------------------------
data          dict         n=3
datasets      module       <module 'sklearn.datasets<...>rn/datasets/__init__.py'>
df1           DataFrame       Density  Median_Age  Y<...>    279        30.3  2014
index         list         n=6
iris          Bunch        {'data': array([[5.1, 3.5<...>/datasets/data/iris.csv'}
pd            module       <module 'pandas' from '/u<...>ages/pandas/__init__.py'>
populations   list         n=6

In [12]:
whos

Variable      Type         Data/Info
------------------------------------
data          dict         n=3
datasets      module       <module 'sklearn.datasets<...>rn/datasets/__init__.py'>
df1           DataFrame       Density  Median_Age  Y<...>    279        30.3  2014
index         list         n=6
iris          Bunch        {'data': array([[5.1, 3.5<...>/datasets/data/iris.csv'}
pd            module       <module 'pandas' from '/u<...>ages/pandas/__init__.py'>
populations   list         n=6

In [13]:
help(len)

Help on built-in function len in module builtins:

len(obj, /)
    Return the number of items in a container.

In [0]:
len??

In [15]:
who_ls

['data', 'datasets', 'df1', 'index', 'iris', 'pd', 'populations']

In [16]:
pd.__version__

'0.22.0'

In [17]:
index = [('California', 2000), ('California', 2010),
         ('New York', 2000), ('New York', 2010),
         ('Texas', 2000), ('Texas', 2010)]
populations = [33871648, 37253956,
               18976457, 19378102,
               20851820, 25145561]
pop = pd.Series(populations, index=index)
pop

(California, 2000)    33871648
(California, 2010)    37253956
(New York, 2000)      18976457
(New York, 2010)      19378102
(Texas, 2000)         20851820
(Texas, 2010)         25145561
dtype: int64