<a href="https://colab.research.google.com/github/AtharKharal/Tensorflow_Python_GPUsTPUs/blob/master/Playing_with_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
from sklearn import datasets
iris= datasets.load_iris()

In [13]:
print(iris.data[1:5])

[[4.9 3.  1.4 0.2]
 [4.7 3.2 1.3 0.2]
 [4.6 3.1 1.5 0.2]
 [5.  3.6 1.4 0.2]]

In [0]:
data = {'Year': [2000, 2005, 2010, 2014],
       'Median_Age': [24.2, 26.4, 28.5, 30.3],
       'Density': [244, 256, 268, 279]}
df1=pd.DataFrame(data)

In [15]:
df1.Year

0    2000
1    2005
2    2010
3    2014
Name: Year, dtype: int64

In [18]:
df1.head()

   Density  Median_Age  Year
0      244        24.2  2000
1      256        26.4  2005
2      268        28.5  2010
3      279        30.3  2014

In [17]:
df1.columns

Index(['Density', 'Median_Age', 'Year'], dtype='object')

In [20]:
%who

data	 datasets	 df1	 iris	 pd

In [23]:
print(dir())

['In', 'Out', '_', '_11', '_15', '_16', '_17', '_18', '_21', '_22', '__', '___', '__builtin__', '__builtins__', '__doc__', '__loader__', '__name__', '__package__', '__spec__', '_dh', '_i', '_i1', '_i10', '_i11', '_i12', '_i13', '_i14', '_i15', '_i16', '_i17', '_i18', '_i19', '_i2', '_i20', '_i21', '_i22', '_i23', '_i3', '_i4', '_i5', '_i6', '_i7', '_i8', '_i9', '_ih', '_ii', '_iii', '_oh', '_sh', 'data', 'datasets', 'df1', 'exit', 'get_ipython', 'iris', 'pd', 'quit']

In [27]:
whos

Variable   Type         Data/Info
---------------------------------
data       dict         n=3
datasets   module       <module 'sklearn.datasets<...>rn/datasets/__init__.py'>
df1        DataFrame       Density  Median_Age  Y<...>    279        30.3  2014
iris       Bunch        {'data': array([[5.1, 3.5<...>/datasets/data/iris.csv'}
pd         module       <module 'pandas' from '/u<...>ages/pandas/__init__.py'>